<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battle</title>
    <style>
        div.mycontainer {
        width:100%;
        overflow:auto;
        }
        div.mycontainer div {
        width:25%;
        float:left;
        text-align:center
        }

        div.center {
        color: green;
        float: center;
        }

        h1{
        padding-left:35%}

        p.title_center{
        padding-left:34%}

        button.button_center{
        margin-left:34%}

    </style>
</head>
<body>
<h1>Battle</h1>
<p class="title_center"> The fight begin ... </p>


<div class="mycontainer">
    <div>
        <img width="200" height="150"
             src="https://t4.ftcdn.net/jpg/01/20/35/93/360_F_120359382_dhhaabloidptkMfBcK01lFkAjZzab065.jpg"
             alt="Fighter">
        <h3>Fighter</h3>
    </div>
    <div class="center"><h3>VS</h3></div>
    <div>
        {% if enemy == "Pikachu"%}
        <img width="150" height="150"
             src="https://www.shutterstock.com/image-photo/pikachu-pokemon-isolated-jumping-260nw-2584635709.jpg"
             alt="Pikachu">
        {% elif enemy == "Wyvern"%}
        <img width="150" height="150"
             src="https://static.wikitide.net/criticalrolewiki/thumb/5/5f/Wyvern-5e.jpg/640px-Wyvern-5e.jpg"
             alt="Wyvern">
        {% else %}
        <img width="150" height="150"
             src="https://static.wikia.nocookie.net/ultimate-epic-battle-simulator/images/f/f3/Troll.png"
             alt="Troll">
        {% endif %}

        <p>{{enemy}}</p>

    </div>
</div>
<div>
    <button class="button_center">
        {% if rnd == 1%}
        <a href="{{ url_for('win', enemy=enemy, player=player) }}">Start</a>
        {% else%}
        <a href="{{ url_for('lose', enemy=enemy, player=player) }}">Start</a>
        {% endif %}
    </button>
</div>


</body>
</html>