<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lose</title>
    <style>
        h1{
        padding-left:35%}

        button.button_center{
        margin-left:36%}

    </style>
</head>
<body>
<h1>Losing !</h1>
<h3> Your level: {{player.level}}</h3>
<h3>Your health: {{player.health}}</h3>
<div>
    {% if player.health > 0%}
    <button class="button_center">
        <a href="{{ url_for('start', player=player) }}">Try again</a>
    </button>
    {% else%}
    <h1>GAME OVER !</h1>
    {%endif%}
</div>
</body>
</html>